*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Telugu',monospace;
    border: none;
    outline: none;
}

body{
    background-color: aquamarine;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: -20px;
    
}

textarea.text-input{
    box-shadow: -2px 3px 20px 2px rgba(0,0,0,0.09);
    min-height: 50vh;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    padding: 20px;
    align-items: center;
    /* outline: .5px solid green; */
}

input{
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 0.8em;
    background-color: rgba(8, 77, 50, 0.493);
    color: white;
}